{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Available Media</h1>
    <ul>
        {% for media in object_list %}
            <li>
                <a href="{% url 'detail_media' media.pk %}">{{ media.title }}</a>
            </li>
        {% empty %}
            <p>No media available.</p>
        {% endfor %}
    </ul>


  <div id="mediaCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    {% for media in object_list %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ media.image.url }}" class="d-block custom-carousel-image" alt="{{ media.title }}" width="700" height="500">
        <div class="carousel-caption d-none d-md-block">
          <h5><a href="{% url 'detail_media' media.pk %}" class="text-light">{{ media.title|escape }}</a></h5>
        </div>
      </div>
    {% endfor %}
  </div>


</div>



{% endblock %}
