/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #ffeb3b;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Кнопки */
button, .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

/* Стилі для форм */
form {
    margin-top: 20px;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input[type="submit"] {
    background-color: #28a745;
    border-color: #28a745;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Стилі для медіафайлів */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стилі для основних блоків */
.container {
    margin-top: 20px;
}

h1, h2, h3 {
    color: #343a40;
}

p {
    color: #6c757d;
}

.custom-carousel-image {
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto;
}